<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <title>使用指南</title>
</head>
<body>
进入小程序后首先显示的是我发起的活动画面：<br>
<img src="static/myowned.png"><br>
点击活动名称可以查看活动的详细和报名状况：<br>
<img src="static/status.png"><br>
点击分享进入参与者报名页面：<br>
<img src="static/reg.png"><br>
在参与者报名页面点击右上角的三个点图标可以将这个画面分享给朋友，朋友收到分享后，打开进入参与者报名画面，填入相关信息后，点击参与，完成报名：<br>
<img src="static/share.png"><br>
点击画面下方的发起活动，创建自己的活动，在画面中输入说有的必填项目，点击提交，进入参与者报名画面，方便分享新创建的活动给朋友：<br>
<img src="static/create.png"><br>
点击画面下方的参与的活动，查看自己报名参与了那些活动：<br>
<img src="static/attended.png"><br>
</body>
</html>