<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>活动列表</title>
</head>
<body>
<table>
    <tr>
        <td>活动名称</td>
        <td>活动时间</td>
        <td>活动地点</td>
        <td>活动状态</td>
        <td>人数</td>
    </tr>
    {% for party in partyList %}
        <tr>
            <td>{{ party['party_name'] }}</td>
            <td>{{ party['party_time'] }}</td>
            <td>{{ party['party_location'] }}</td>
            <td>{{ party['party_status'] }}</td>
            <td>{{ party['party_attend_num'] }}／{{ party['party_total_num'] }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>