<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小程序列表</title>
</head>
<body>
<a href="wxsysnewlicense">新建License</a>
<table>
    <tr>
        <td>license编号</td>
        <td>小程序ID</td>
        <td>小程序名称</td>
        <td>license开始日</td>
        <td>license结束日</td>
    </tr>
    {% for license in licenseList %}
        <tr>
            <td>{{ license['license_num'] }}</td>
            <td>{{ license['program_id'] }}</td>
            <td>{{ license['program_name'] }}</td>
            <td>{{ license['license_start_date'] }}</td>
            <td>{{ license['license_end_date'] }}</td>

        </tr>
    {% endfor %}
</table>
</body>
</html>