<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>跟新消息</title>
</head>
<body>
<form action="dowxsysnewlicense" method="post">
    <label>小程序名称：</label>
    <select name="program_id">
        {% for program in programList %}
            <option value="{{ program['program_id'] }}">{{ program['program_name'] }}</option>
        {% endfor %}
    </select><br>
    <label>公司名称：</label>
    <input name="company_name" value="{{ today }}"/><br>
    <label>联系方式：</label>
    <input name="tel_no" value="{{ today }}"/><br>
    <label>使用开始日：</label>
    <input name="license_start_date" value="{{ today }}"/><br>
    <label>使用周期：</label>
    <select name="license_period">
        <option value="30">30天</option>
        <option value="90">90天</option>
        <option value="180">180天</option>
        <option value="360">360天</option>
    </select><br>
    <button type="submit">提交</button>
</form>
</body>
</html>