<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小程序列表</title>
</head>
<body>
<a href="wxsysannounce">更新消息</a>
<a href="newprogram">增加小程序</a>
<a href="wxsyslicenselist">License一览</a>
<table>
    <tr>
        <td>小程序ID</td>
        <td>小程序名称</td>
        <td>小程序消息</td>
        <td>跟新时间</td>
        <td>创建时间</td>
        <td>清除数据</td>
        <td>删除</td>
    </tr>
    {% for program in programList %}
        <tr>
            <td>{{ program['program_id'] }}</td>
            <td>{{ program['program_name'] }}</td>
            <td>{{ program['program_message'] }}</td>
            <td>{{ program['create_time'] }}</td>
            <td>{{ program['update_time'] }}</td>
            <td><a href="removedata?program_id={{ program['program_id'] }}">清除数据</a></td>
            <td><a href="deleteprogram?program_id={{ program['program_id'] }}">删除</a></td>

        </tr>
    {% endfor %}
</table>
</body>
</html>