<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>跟新消息</title>
</head>
<body>
<form action="doupdatelicense" method="post">
    <label>License编号：</label>
    {{ license.license_num}}
    <input name="license_num" hidden="true" value="{{ license.license_num}}"/><br>
    <label>小程序：</label>
    {{ license.program_name}}<br>
    <label>公司名称：</label>
    {{ license.company_name}}<br>
    <label>联系方式：</label>
    {{ license.tel_no}}<br>
    <label>使用开始日：</label>
    {{ license.license_start_date}}<br>
     <label>使用结束日：</label>
    {{ license.license_end_date}}<br>
    <label>续约周期：</label>
    <select name="license_period">
        <option value="30">30天</option>
        <option value="90">90天</option>
        <option value="180">180天</option>
        <option value="365">365天</option>
    </select><br>
    <button type="submit">提交</button>
</form>
</body>
</html>